* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Ignore frontend & build assets from language stats
/resources/js/** linguist-vendored
/public/** linguist-vendored
/node_modules/** linguist-vendored
/public/build/** linguist-vendored

# Force PHP detection
*.php linguist-detectable=true
*.js linguist-vendored
